{
  "openapi": "3.1.0",
  "info": {
    "title": "Publive Content Management API",
    "version": "1.0.0",
    "description": "Read/write API for managing publisher content: categories, tags, posts, live blogs, media, custom content types, custom components, forms, reader accounts, and newsletter subscriptions."
  },
  "servers": [
    { "url": "https://cms.thepublive.com" }
  ],
  "security": [{ "basicAuth": [] }],
  "tags": [
    { "name": "Categories" },
    { "name": "Tags" },
    { "name": "Posts" },
    { "name": "Live Blogs" },
    { "name": "Media Library" },
    { "name": "Custom Content Types" },
    { "name": "Custom Components" },
    { "name": "Forms" },
    { "name": "Reader" },
    { "name": "Newsletter" }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using your Publive API key pair, base64-encoded."
      },
      "formSubmissionAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Access token used for PubliveAPI requests. Sent as the raw token value — no \"Basic\" or \"Bearer\" prefix."
      }
    },
    "parameters": {
      "PublisherId": {
        "name": "publisher_id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Your Publisher ID"
      },
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "integer", "default": 1, "maximum": 1000 }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": { "type": "integer", "default": 10, "maximum": 50 }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing credentials",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorDetail" },
            "example": { "detail": "Invalid Auth Credentials" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorDetail" } } }
      }
    },
    "schemas": {
      "ErrorDetail": { "type": "object", "properties": { "detail": { "type": "string" } } },
      "FieldTypeObject": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "type": { "type": "string", "description": "e.g. short_text, long_text, url, email, integer, boolean, media (not an exhaustive list)" },
          "meta_data": {
            "type": "object",
            "properties": {
              "label": { "type": "object", "properties": { "value": { "type": "string" } } },
              "tooltip": { "type": "object", "properties": { "value": { "type": "string" } } },
              "type": { "type": "object", "properties": { "value": { "type": "string" } } },
              "placeholder": { "type": "object", "properties": { "value": { "type": "string" } } },
              "default": { "type": "object", "properties": { "value": {} } }
            }
          },
          "validations": {
            "type": "object",
            "properties": {
              "required": { "type": "boolean" },
              "group_editable": { "type": "boolean" },
              "max_length": { "type": "integer" }
            }
          },
          "group_id": { "type": "string" }
        },
        "required": ["name", "type"]
      },
      "SettingsObject": {
        "type": "object",
        "properties": {
          "entry_title": { "type": "string" },
          "searchable_fields": { "type": "array", "items": { "type": "string" } },
          "filter_fields": { "type": "array", "items": { "type": "string" } },
          "allowed_states": { "type": "array", "items": { "type": "string", "enum": ["Published", "Draft", "Scheduled", "Approval Pending"] } },
          "access_control": { "type": "object" },
          "enable_component_preview": { "type": "boolean" },
          "enable_content_rule": { "type": "boolean" },
          "enable_custom_date": { "type": "boolean" },
          "enable_seo_properties": { "type": "boolean" },
          "enable_code_ingestion": { "type": "boolean" }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "english_name": { "type": "string" },
          "slug": { "type": "string" },
          "content": { "type": "string" },
          "category_brand_color": { "type": "string" },
          "child_categories": { "type": "array", "items": { "type": "object" } },
          "parent_category": { "type": "object" },
          "meta_title": { "type": "string" },
          "meta_description": { "type": "string" },
          "absolute_url": { "type": "string" }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "english_name": { "type": "string" },
          "slug": { "type": "string" },
          "meta_title": { "type": "string" },
          "meta_description": { "type": "string" },
          "content": { "type": "string" },
          "absolute_url": { "type": "string" }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "english_title": { "type": "string" },
          "slug": { "type": "string" },
          "type": { "type": "string", "enum": ["Article", "Video", "Web Story", "Gallery", "LiveBlog", "CustomPage", "BlankPage"] },
          "status": { "type": "string", "enum": ["Draft", "Published", "Scheduled", "Approval Pending"] },
          "primary_category": { "type": "integer" },
          "contributors": { "type": "string", "description": "Comma-separated author IDs" },
          "content": { "type": "string" },
          "tags": { "type": "string", "description": "Comma-separated tag IDs" },
          "categories": { "type": "string", "description": "Comma-separated category IDs" },
          "banner_url": { "type": "integer", "description": "Media ID" },
          "banner_description": { "type": "string" },
          "short_description": { "type": "string" },
          "summary": { "type": "string" },
          "seo_keyphrase": { "type": "string" },
          "meta_data": { "type": "object" },
          "custom_published_at": { "type": "string" },
          "scheduled_at": { "type": "string", "description": "Requires status=Scheduled" },
          "hide_banner_image": { "type": "boolean" },
          "word_count": { "type": "integer", "readOnly": true },
          "seo_score": { "type": "number", "readOnly": true },
          "source": { "type": "string", "readOnly": true }
        }
      },
      "Media": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "filename": { "type": "string" },
          "alt_text": { "type": "string" },
          "caption": { "type": "string" },
          "path": { "type": "string" },
          "source": { "type": "string" },
          "type": { "type": "string", "enum": ["Image", "Video", "File"], "default": "Image" },
          "meta_data": { "type": "object" },
          "date": { "type": "string" },
          "member": { "type": "string" }
        }
      },
      "CustomContentType": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "enum": ["Collection", "Single"] },
          "name": { "type": "string" },
          "api_slug": { "type": "string" },
          "api_collections_slug": { "type": "string" },
          "response_type": { "type": "string", "default": "json" },
          "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } },
          "groups": { "type": "array", "items": { "type": "object" } },
          "components": { "type": "array", "items": { "type": "string" } },
          "settings": { "$ref": "#/components/schemas/SettingsObject" },
          "global_system_default": { "type": "boolean", "default": false }
        }
      },
      "CustomComponent": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "meta_data": { "type": "object", "properties": { "description": { "type": "string" } } },
          "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } },
          "settings": { "type": "object" }
        }
      },
      "FormSchema": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "24-character hex string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "type": { "type": "string" },
          "state": { "type": "string" },
          "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } },
          "groups": { "type": "array", "items": { "type": "object" } },
          "settings": { "$ref": "#/components/schemas/SettingsObject" },
          "form_page": { "type": "object" },
          "captcha_config": { "type": "object", "properties": { "site_key": { "type": "string" } } },
          "created_at": { "type": "string" },
          "updated_at": { "type": "string" },
          "updated_by": { "type": "string" },
          "deleted": { "type": "boolean" }
        }
      }
    }
  },
  "paths": {
    "/publisher/{publisher_id}/category/": {
      "post": {
        "operationId": "createCategory",
        "summary": "Create Category",
        "tags": ["Categories"],
        "x-mint": { "href": "/dxp/api-reference/content-management/categories/create-category" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "english_name": { "type": "string", "description": "Immutable after creation. Used for permalink." },
                  "slug": { "type": "string", "description": "Immutable after creation." },
                  "meta_title": { "type": "string" },
                  "h1_tag": { "type": "string" },
                  "meta_description": { "type": "string" },
                  "parent_category": { "type": "integer", "description": "Immutable after creation." },
                  "priority": { "type": "integer", "minimum": 1, "maximum": 1000 },
                  "content": { "type": "string" },
                  "category_brand_color": { "type": "string" },
                  "content_type": { "type": "string", "description": "Immutable after creation." }
                },
                "required": ["name", "english_name"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Created", "content": { "application/json": { "example": { "status": "success", "message": "Created Successfully", "data": { "id": 1000 } } } } },
          "400": { "description": "Validation error" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "operationId": "listCategories",
        "summary": "List Categories",
        "tags": ["Categories"],
        "x-mint": { "href": "/dxp/api-reference/content-management/categories/list-categories" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated category list",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" }, "next": { "type": ["string", "null"] }, "previous": { "type": ["string", "null"] }, "results": { "type": "array", "items": { "$ref": "#/components/schemas/Category" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/category/{id}/": {
      "get": {
        "operationId": "retrieveCategory",
        "summary": "Retrieve Category",
        "tags": ["Categories"],
        "x-mint": { "href": "/dxp/api-reference/content-management/categories/retrieve-category" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": { "description": "Category object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Category" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCategory",
        "summary": "Update Category",
        "description": "<Warning>`english_name`, `slug`, and `content_type` are immutable after creation and cannot be changed via update.</Warning>",
        "tags": ["Categories"],
        "x-mint": { "href": "/dxp/api-reference/content-management/categories/update-category" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "meta_title": { "type": "string" },
                  "meta_description": { "type": "string" },
                  "content": { "type": "string" },
                  "category_brand_color": { "type": "string" },
                  "priority": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated", "content": { "application/json": { "example": { "status": "success", "message": "Updated Successfully" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteCategory",
        "summary": "Delete Category",
        "description": "<Warning>This action cannot be undone. Posts using this category will need to be reassigned.</Warning>",
        "tags": ["Categories"],
        "x-mint": { "href": "/dxp/api-reference/content-management/categories/delete-category" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "example": { "status": "success", "message": "Deleted successfully!" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/tag/": {
      "post": {
        "operationId": "createTag",
        "summary": "Create Tag",
        "tags": ["Tags"],
        "x-mint": { "href": "/dxp/api-reference/content-management/tags/create-tag" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "slug": { "type": "string", "description": "Immutable after creation." },
                  "english_name": { "type": "string", "description": "Immutable after creation." },
                  "meta_title": { "type": "string" },
                  "meta_description": { "type": "string" },
                  "content": { "type": "string" }
                },
                "required": ["name", "english_name"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created", "content": { "application/json": { "example": { "status": "success", "message": "Created Successfully" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "operationId": "listTags",
        "summary": "List Tags",
        "tags": ["Tags"],
        "x-mint": { "href": "/dxp/api-reference/content-management/tags/list-tags" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated tag list",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" }, "next": { "type": ["string", "null"] }, "previous": { "type": ["string", "null"] }, "results": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/tag/{id}/": {
      "get": {
        "operationId": "retrieveTag",
        "summary": "Retrieve Tag",
        "tags": ["Tags"],
        "x-mint": { "href": "/dxp/api-reference/content-management/tags/retrieve-tag" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": { "description": "Tag object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tag" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateTag",
        "summary": "Update Tag",
        "description": "<Warning>`english_name` and `slug` are immutable after creation.</Warning>",
        "tags": ["Tags"],
        "x-mint": { "href": "/dxp/api-reference/content-management/tags/update-tag" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "meta_title": { "type": "string" },
                  "meta_description": { "type": "string" },
                  "content": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated", "content": { "application/json": { "example": { "status": "success", "message": "Updated Successfully" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete Tag",
        "tags": ["Tags"],
        "x-mint": { "href": "/dxp/api-reference/content-management/tags/delete-tag" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "example": { "status": "success", "message": "Deleted successfully!" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/post/": {
      "post": {
        "operationId": "createPost",
        "summary": "Create Post",
        "description": "Default `status` on creation is `Draft` unless specified.\n\n<Expandable title=\"custom_entity\">\nSupports three field shapes:\n- **Component**: `{schema_slug: string, dynamic_fields: array of {field_name: value}}` (`dynamic_fields` defaults to `[]`).\n- **Dynamic Zone**: an array of Component-shaped objects (reuse `schema_slug` for repeats); has enforced min/max counts.\n- **Dynamic List**: <Warning>Not supported via the Headless CMS API — returns \"Dynamic list field is not supported via Headless CMS. Please use Publive Dashboard\".</Warning>\n</Expandable>",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-management/posts/create-post" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "english_title": { "type": "string", "description": "Immutable after creation." },
                  "type": { "type": "string", "enum": ["Article", "Video", "Web Story", "Gallery", "LiveBlog", "CustomPage", "BlankPage"], "description": "Immutable after creation." },
                  "status": { "type": "string", "enum": ["Draft", "Published", "Scheduled", "Approval Pending"] },
                  "primary_category": { "type": "integer" },
                  "contributors": { "type": "string" },
                  "content": { "type": "string" },
                  "tags": { "type": "string" },
                  "categories": { "type": "string" },
                  "banner_url": { "type": "integer" },
                  "banner_description": { "type": "string" },
                  "short_description": { "type": "string" },
                  "summary": { "type": "string" },
                  "seo_keyphrase": { "type": "string" },
                  "slug": { "type": "string", "description": "Immutable after creation." },
                  "meta_data": { "type": "object", "description": "Immutable after creation." },
                  "custom_published_at": { "type": "string", "description": "Immutable after creation." },
                  "scheduled_at": { "type": "string", "description": "Requires status=Scheduled." },
                  "hide_banner_image": { "type": "boolean" },
                  "custom_entity": { "type": "object" }
                },
                "required": ["title", "english_title", "type", "status", "primary_category", "contributors"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created", "content": { "application/json": { "example": { "status": "success", "message": "Created successfully" } } } },
          "400": { "description": "Validation error" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "operationId": "listPosts",
        "summary": "List Posts",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-management/posts/list-posts" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated post list",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" }, "next": { "type": ["string", "null"] }, "previous": { "type": ["string", "null"] }, "results": { "type": "array", "items": { "$ref": "#/components/schemas/Post" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/post/{id}/": {
      "get": {
        "operationId": "retrievePost",
        "summary": "Retrieve Post",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-management/posts/retrieve-post" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": { "description": "Post object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Post" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updatePost",
        "summary": "Update Post",
        "description": "Identifiers and core types (`english_title`, `type`, `slug`) cannot be modified after creation.",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-management/posts/update-post" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "content": { "type": "string" },
                  "status": { "type": "string", "enum": ["Draft", "Published", "Scheduled", "Approval Pending"] },
                  "custom_published_at": { "type": "string" },
                  "primary_category": { "type": "integer" },
                  "contributors": { "type": "string" },
                  "tags": { "type": "string" },
                  "categories": { "type": "string" },
                  "banner_url": { "type": "integer" },
                  "short_description": { "type": "string" },
                  "hide_banner_image": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated", "content": { "application/json": { "example": { "status": "success", "message": "Updated Successfully" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete Post",
        "description": "<Warning>This action cannot be undone.</Warning>",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-management/posts/delete-post" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "example": { "status": "success", "message": "Deleted successfully!" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/post/{post_id}/live-blog-update/": {
      "post": {
        "operationId": "createLiveBlogUpdate",
        "summary": "Create Live Blog Update",
        "description": "<Info>Only applies to posts with `type: \"LiveBlog\"`.</Info>",
        "tags": ["Live Blogs"],
        "x-mint": { "href": "/dxp/api-reference/content-management/live-blogs/create-live-blog-update" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "post_id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "content": { "type": "string" },
                  "author": { "type": "integer", "description": "Member ID" }
                },
                "required": ["title", "content"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Created", "content": { "application/json": { "example": { "status": 201, "data": { "title": "Update title", "content": "Update body" }, "author": {}, "Cache-Tags": [] } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "operationId": "listLiveBlogUpdates",
        "summary": "List Live Blog Updates",
        "description": "<Info>Only applies to posts with `type: \"LiveBlog\"`.</Info>",
        "tags": ["Live Blogs"],
        "x-mint": { "href": "/dxp/api-reference/content-management/live-blogs/list-live-blog-updates" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "post_id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Live blog updates", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": {}, "data": { "type": "array", "items": { "type": "object" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/post/{post_id}/live-blog-update/{id}/": {
      "get": {
        "operationId": "retrieveLiveBlogUpdate",
        "summary": "Retrieve Live Blog Update",
        "tags": ["Live Blogs"],
        "x-mint": { "href": "/dxp/api-reference/content-management/live-blogs/retrieve-live-blog-update" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "post_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "$ref": "#/components/parameters/Id" }
        ],
        "responses": {
          "200": { "description": "Live blog update", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": {}, "data": { "type": "object" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateLiveBlogUpdate",
        "summary": "Update Live Blog Update",
        "tags": ["Live Blogs"],
        "x-mint": { "href": "/dxp/api-reference/content-management/live-blogs/update-live-blog-update" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "post_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "$ref": "#/components/parameters/Id" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "content": { "type": "string" },
                  "author": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated", "content": { "application/json": { "example": { "status": 200, "message": "Updated Successfully" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteLiveBlogUpdate",
        "summary": "Delete Live Blog Update",
        "description": "<Warning>This action cannot be undone.</Warning>",
        "tags": ["Live Blogs"],
        "x-mint": { "href": "/dxp/api-reference/content-management/live-blogs/delete-live-blog-update" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "post_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "$ref": "#/components/parameters/Id" }
        ],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "example": { "status": "success", "message": "Deleted successfully!" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/media-library/": {
      "get": {
        "operationId": "listMedia",
        "summary": "List Media",
        "tags": ["Media Library"],
        "x-mint": { "href": "/dxp/api-reference/content-management/media/list-media" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated media list",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" }, "next": { "type": ["string", "null"] }, "previous": { "type": ["string", "null"] }, "results": { "type": "array", "items": { "$ref": "#/components/schemas/Media" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/media-library/{id}/": {
      "get": {
        "operationId": "retrieveMedia",
        "summary": "Retrieve Media",
        "tags": ["Media Library"],
        "x-mint": { "href": "/dxp/api-reference/content-management/media/retrieve-media" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": { "description": "Media object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Media" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateMedia",
        "summary": "Update Media",
        "description": "Updates metadata of an existing media asset. Only send the fields you want to change.\n\n<Warning>`path` and `type` are immutable after creation and cannot be changed via update.</Warning>",
        "tags": ["Media Library"],
        "x-mint": { "href": "/dxp/api-reference/content-management/media/update-media" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": { "type": "string" },
                  "alt_text": { "type": "string" },
                  "caption": { "type": "string" },
                  "source": { "type": "string" },
                  "meta_data": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Updated Successfully",
                  "data": { "id": 999, "filename": "budget-2026.jpg", "alt_text": "Updated alt text", "caption": "Budget session in Parliament", "path": "https://cdn.publive.com/images/budget-2026.jpg", "source": "Reuters", "type": "Image", "meta_data": { "width": 1200, "height": 630 } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteMedia",
        "summary": "Delete Media",
        "description": "<Warning>This action cannot be undone. Posts referencing this media will lose their associated image/file.</Warning>",
        "tags": ["Media Library"],
        "x-mint": { "href": "/dxp/api-reference/content-management/media/delete-media" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }, { "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "example": { "status": "success", "message": "Deleted successfully!" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/entities/content-type/": {
      "post": {
        "operationId": "createCustomContentType",
        "summary": "Create Custom Content Type",
        "tags": ["Custom Content Types"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-content-types/create-custom-content-type" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": { "type": "string", "enum": ["Collection"] },
                  "name": { "type": "string" },
                  "api_slug": { "type": "string", "description": "Immutable after creation." },
                  "api_collections_slug": { "type": "string", "description": "Immutable after creation." },
                  "response_type": { "type": "string", "default": "json" },
                  "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } },
                  "groups": { "type": "array", "items": { "type": "object" } },
                  "components": { "type": "array", "items": { "type": "string" } },
                  "settings": { "$ref": "#/components/schemas/SettingsObject" },
                  "global_system_default": { "type": "boolean", "default": false }
                },
                "required": ["type", "name", "api_slug", "api_collections_slug"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Created" },
          "400": { "description": "Validation error" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "operationId": "listCustomContentTypes",
        "summary": "List Custom Content Types",
        "tags": ["Custom Content Types"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-content-types/list-custom-content-types" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Paginated custom content type list",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" }, "next": { "type": ["string", "null"] }, "previous": { "type": ["string", "null"] }, "results": { "type": "array", "items": { "$ref": "#/components/schemas/CustomContentType" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/entities/content-type/{custom_entity_schema_id}": {
      "get": {
        "operationId": "retrieveCustomContentType",
        "summary": "Retrieve Custom Content Type",
        "tags": ["Custom Content Types"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-content-types/retrieve-custom-content-type" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "custom_entity_schema_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Custom content type object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomContentType" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCustomContentType",
        "summary": "Update Custom Content Type",
        "tags": ["Custom Content Types"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-content-types/update-custom-content-type" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "custom_entity_schema_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "api_slug": { "type": "string" },
                  "api_collections_slug": { "type": "string" },
                  "response_type": { "type": "string" },
                  "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteCustomContentType",
        "summary": "Delete Custom Content Type",
        "description": "<Warning>This action cannot be undone and orphans any content entries of this type.</Warning>",
        "tags": ["Custom Content Types"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-content-types/delete-custom-content-type" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "custom_entity_schema_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/entities/content-type/custom-component/": {
      "post": {
        "operationId": "createCustomComponent",
        "summary": "Create Custom Component",
        "tags": ["Custom Components"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-components/create-custom-component" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "meta_data": { "type": "object", "properties": { "description": { "type": "string" } } },
                  "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } },
                  "settings": { "type": "object" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Created" },
          "400": { "description": "Validation error" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "operationId": "listCustomComponents",
        "summary": "List Custom Components",
        "tags": ["Custom Components"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-components/list-custom-components" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Paginated custom component list",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" }, "next": { "type": ["string", "null"] }, "previous": { "type": ["string", "null"] }, "results": { "type": "array", "items": { "$ref": "#/components/schemas/CustomComponent" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/entities/content-type/custom-component/{custom_entity_schema_id}": {
      "get": {
        "operationId": "retrieveCustomComponent",
        "summary": "Retrieve Custom Component",
        "tags": ["Custom Components"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-components/retrieve-custom-component" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "custom_entity_schema_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Custom component object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomComponent" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteCustomComponent",
        "summary": "Delete Custom Component",
        "description": "<Warning>This action cannot be undone and orphans any entries using this component.</Warning>",
        "tags": ["Custom Components"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-components/delete-custom-component" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "custom_entity_schema_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/entities/content-type/custom-component/{custom_entity_schema_id}/": {
      "patch": {
        "operationId": "updateCustomComponent",
        "summary": "Update Custom Component",
        "tags": ["Custom Components"],
        "x-mint": { "href": "/dxp/api-reference/content-management/custom-components/update-custom-component" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "custom_entity_schema_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "meta_data": { "type": "object" },
                  "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } },
                  "settings": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/form/schema/": {
      "post": {
        "operationId": "createFormSchema",
        "summary": "Create Form Schema",
        "tags": ["Forms"],
        "x-mint": { "href": "/dxp/api-reference/content-management/forms/create-form-schema" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "type": { "type": "string" },
                  "state": { "type": "string" },
                  "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } },
                  "groups": { "type": "array", "items": { "type": "object" } },
                  "settings": { "$ref": "#/components/schemas/SettingsObject" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Created", "content": { "application/json": { "example": { "status": 201 } } } },
          "400": { "description": "Validation error" },
          "401": {
            "description": "Missing credentials",
            "content": { "application/json": { "example": { "detail": "Auth Credentials were not provided" } } }
          }
        }
      },
      "get": {
        "operationId": "listFormSchemas",
        "summary": "List Form Schemas",
        "tags": ["Forms"],
        "x-mint": { "href": "/dxp/api-reference/content-management/forms/list-form-schemas" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Paginated form schema list",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" }, "next": { "type": ["string", "null"] }, "previous": { "type": ["string", "null"] }, "results": { "type": "array", "items": { "$ref": "#/components/schemas/FormSchema" } }, "status": {} } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/form/schema/{schema_id}/": {
      "get": {
        "operationId": "retrieveFormSchema",
        "summary": "Retrieve Form Schema",
        "tags": ["Forms"],
        "x-mint": { "href": "/dxp/api-reference/content-management/forms/retrieve-form-schema" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "schema_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "24-character hex string" }
        ],
        "responses": {
          "200": { "description": "Form schema (wrapped)", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": {}, "data": { "$ref": "#/components/schemas/FormSchema" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateFormSchema",
        "summary": "Update Form Schema",
        "description": "PUT replaces the schema with the payload you send — unlike other resources' PATCH-based updates, this is a full replace.",
        "tags": ["Forms"],
        "x-mint": { "href": "/dxp/api-reference/content-management/forms/update-form-schema" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "schema_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "type": { "type": "string" },
                  "state": { "type": "string" },
                  "field_types": { "type": "array", "items": { "$ref": "#/components/schemas/FieldTypeObject" } },
                  "groups": { "type": "array", "items": { "type": "object" } },
                  "settings": { "$ref": "#/components/schemas/SettingsObject" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Replaced", "content": { "application/json": { "example": { "status": 200, "message": "Updated Successfully" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/form/schema/{schema_id}": {
      "delete": {
        "operationId": "deleteFormSchema",
        "summary": "Delete Form Schema",
        "description": "<Warning>This action cannot be undone.</Warning>",
        "tags": ["Forms"],
        "x-mint": { "href": "/dxp/api-reference/content-management/forms/delete-form-schema" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "schema_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "example": { "status": 200, "message": "Deleted successfully" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/form/{pk}/submit/": {
      "post": {
        "operationId": "submitForm",
        "summary": "Submit Form",
        "description": "Submits a reader-facing form. `<field_name>` and `<file_field>` represent the form's own dynamically-defined fields — send whichever field names that specific form schema declares.",
        "tags": ["Forms"],
        "x-mint": { "href": "/dxp/api-reference/content-management/forms/form-submission" },
        "security": [{ "formSubmissionAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "pk", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Form schema ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "schema": { "type": "string" },
                  "g-recaptcha-response": { "type": "string" }
                },
                "required": ["schema", "g-recaptcha-response"],
                "additionalProperties": true,
                "description": "Additional properties are the form's own dynamic field names (text values or files)."
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Submitted" },
          "400": { "description": "Invalid field" },
          "403": { "description": "Captcha failed" },
          "500": { "description": "Server error" }
        }
      }
    },
    "/publisher/{publisher_id}/reader/login/": {
      "post": {
        "operationId": "readerLogin",
        "summary": "Reader Login",
        "description": "Two mutually exclusive request shapes on the same endpoint, selected by presence of `client`:\n- **Email/password** (omit `client`): `email`, `password`, optional `g-recaptcha-response` (required if `login_captcha.secret_key` is configured for the publisher).\n- **OAuth** (include `client: \"google\"|\"facebook\"`): `email` plus provider-specific fields forwarded raw to the backend as JSON. `password` is not accepted in this flow.\n\n<Info>Use `Content-Type: application/json` for OAuth logins. For email/password, both `application/json` and form encoding are accepted.</Info>",
        "tags": ["Reader"],
        "x-mint": { "href": "/dxp/api-reference/content-management/reader/login" },
        "security": [],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Email/password login",
                    "properties": {
                      "email": { "type": "string" },
                      "password": { "type": "string" },
                      "g-recaptcha-response": { "type": "string" }
                    },
                    "required": ["email", "password"]
                  },
                  {
                    "type": "object",
                    "title": "OAuth login",
                    "properties": {
                      "client": { "type": "string", "enum": ["google", "facebook"] },
                      "email": { "type": "string" },
                      "sub": { "type": "string" },
                      "name": { "type": "string" },
                      "given_name": { "type": "string" },
                      "family_name": { "type": "string" },
                      "picture": {},
                      "email_verified": { "type": "boolean" },
                      "hd": { "type": "string" },
                      "id": { "type": "string" },
                      "first_name": { "type": "string" },
                      "last_name": { "type": "string" }
                    },
                    "required": ["client", "email"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login success", "content": { "application/json": { "example": { "status": "ok", "message": "Login successful", "token": "abc123def456", "user_id": 1, "email": "reader@example.com" } } } },
          "400": { "description": "Wrong password, no account, or captcha failed" },
          "403": { "description": "Unverified email" }
        }
      }
    },
    "/publisher/{publisher_id}/reader/logout/": {
      "post": {
        "operationId": "readerLogout",
        "summary": "Reader Logout",
        "description": "<Note>No request body or `Authorization` header is required. This endpoint makes no backend call and performs no token invalidation — token cleanup is fully client-side.</Note>",
        "tags": ["Reader"],
        "x-mint": { "href": "/dxp/api-reference/content-management/reader/logout" },
        "security": [],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "Logged out", "content": { "application/json": { "example": { "status": "ok", "message": "Logged out successfully." } } } }
        }
      }
    },
    "/publisher/{publisher_id}/reader/register/": {
      "post": {
        "operationId": "readerRegister",
        "summary": "Reader Register",
        "tags": ["Reader"],
        "x-mint": { "href": "/dxp/api-reference/content-management/reader/register" },
        "security": [],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "password": { "type": "string" },
                  "name": { "type": "string", "default": "" },
                  "picture": { "type": "string", "default": "" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Verification mail sent", "content": { "application/json": { "example": { "status": "ok", "message": "verification mail sent" } } } },
          "400": { "description": "Account exists or validation error" }
        }
      }
    },
    "/publisher/{publisher_id}/reader/forgot-password/": {
      "post": {
        "operationId": "readerForgotPassword",
        "summary": "Reader Forgot Password",
        "tags": ["Reader"],
        "x-mint": { "href": "/dxp/api-reference/content-management/reader/forgot-password" },
        "security": [],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "email": { "type": "string" } }, "required": ["email"] }
            }
          }
        },
        "responses": {
          "200": { "description": "Reset link sent" },
          "400": { "description": "No account found" }
        }
      }
    },
    "/publisher/{publisher_id}/reader/reset-password/": {
      "patch": {
        "operationId": "readerResetPassword",
        "summary": "Reader Reset Password",
        "description": "Authorized by a one-time `token` from the forgot-password email, sent in the request body (not a header).",
        "tags": ["Reader"],
        "x-mint": { "href": "/dxp/api-reference/content-management/reader/reset-password" },
        "security": [],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "token": { "type": "string", "description": "One-time reset token from the email link" },
                  "new_password": { "type": "string" },
                  "confirm_password": { "type": "string", "description": "Must match `new_password`. Validated server-side and not forwarded to the backend." }
                },
                "required": ["email", "token", "new_password", "confirm_password"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Password updated", "content": { "application/json": { "example": { "status": "ok", "message": "Password updated", "user_password_update": true, "forgot_password": true } } } },
          "400": { "description": "Passwords do not match, or invalid/expired token" }
        }
      }
    },
    "/publisher/{publisher_id}/reader/verify-email/": {
      "post": {
        "operationId": "readerVerifyEmail",
        "summary": "Reader Verify Email",
        "tags": ["Reader"],
        "x-mint": { "href": "/dxp/api-reference/content-management/reader/verify-email" },
        "security": [],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "token": { "type": "string", "description": "Verification token from the email link" }
                },
                "required": ["email", "token"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Verified", "content": { "application/json": { "example": { "status": "ok", "message": "Email verified", "user_verification_successful": true } } } },
          "400": { "description": "Token mismatch or no account" }
        }
      }
    },
    "/publisher/{publisher_id}/newsletter/subscribe/": {
      "post": {
        "operationId": "newsletterSubscribe",
        "summary": "Newsletter Subscribe",
        "description": "<Warning>If your publisher has no `newsletter_captcha.secret_key` configured but you send `check_for_captcha`, Google will reject the blank secret key and the request will return `400`.</Warning>",
        "tags": ["Newsletter"],
        "x-mint": { "href": "/dxp/api-reference/content-management/newsletter/subscribe" },
        "security": [],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "name": { "type": "string", "default": "" },
                  "group_ids": {
                    "oneOf": [{ "type": "string" }, { "type": "array", "items": { "type": "string" } }],
                    "description": "Accepts repeated form fields (`group_ids=10&group_ids=20`), a comma-separated string (`\"1,2,3\"`), or a JSON array."
                  },
                  "check_for_captcha": { "description": "Any truthy value activates reCAPTCHA using `newsletter_captcha.secret_key`." },
                  "g-recaptcha-response": { "type": "string", "description": "Required when `check_for_captcha` is present." }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Subscribed", "content": { "application/json": { "example": { "status": "ok", "message": "Subscribed successfully!" } } } },
          "400": { "description": "Captcha failed or validation error" },
          "409": { "description": "Already subscribed", "content": { "application/json": { "example": { "message": "Email already exists" } } } }
        }
      }
    },
    "/publisher/{publisher_id}/newsletter/unsubscribe/": {
      "post": {
        "operationId": "newsletterUnsubscribe",
        "summary": "Newsletter Unsubscribe",
        "tags": ["Newsletter"],
        "x-mint": { "href": "/dxp/api-reference/content-management/newsletter/unsubscribe" },
        "security": [],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "unsubscribe_token": { "type": "string", "default": "", "description": "Token from the unsubscribe link in the campaign email" },
                  "campaign": { "type": "string", "default": "", "description": "Campaign identifier from the link" }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Unsubscribed" },
          "400": { "description": "Validation error" },
          "404": { "description": "Not found" }
        }
      }
    },
    "/publisher/{publisher_id}/newsletter/verify-email/": {
      "get": {
        "operationId": "newsletterVerifyEmail",
        "summary": "Newsletter Verify Email",
        "description": "The only GET endpoint in the newsletter flow — `email` and `token` are query parameters, not body fields.",
        "tags": ["Newsletter"],
        "x-mint": { "href": "/dxp/api-reference/content-management/newsletter/verify-email" },
        "security": [],
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "name": "email", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Verification token from the email link" }
        ],
        "responses": {
          "200": { "description": "Verified", "content": { "application/json": { "example": { "status": "ok", "message": "email verified" } } } },
          "400": { "description": "Token expired or missing params" },
          "404": { "description": "Subscriber not found" }
        }
      }
    }
  }
}
