{
  "openapi": "3.1.0",
  "info": {
    "title": "Publive Content Delivery API",
    "version": "1.0.0",
    "description": "Read-only API for delivering publisher content, configuration, and static assets. All endpoints require HTTP Basic Auth and are GET requests."
  },
  "servers": [
    { "url": "https://cds.thepublive.com" }
  ],
  "security": [{ "basicAuth": [] }],
  "tags": [
    { "name": "Site Configuration" },
    { "name": "Content" },
    { "name": "Posts" },
    { "name": "Forms" },
    { "name": "Static Files" },
    { "name": "Sitemaps" }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using your Publive API key pair, base64-encoded."
      }
    },
    "parameters": {
      "PublisherId": {
        "name": "publisher_id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Your Publisher ID"
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "integer", "default": 1, "maximum": 1000 },
        "description": "Page number"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": { "type": "integer", "default": 10, "maximum": 50 },
        "description": "Number of results per page"
      },
      "Identifier": {
        "name": "identifier",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Numeric ID or slug"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing credentials",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorDetail" },
            "example": { "detail": "Invalid Auth Credentials" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorDetail" },
            "example": { "detail": "File not found" }
          }
        }
      }
    },
    "schemas": {
      "ErrorDetail": {
        "type": "object",
        "properties": { "detail": { "type": "string" } }
      },
      "StaticContentEnvelope": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "data": {
            "type": "object",
            "properties": { "content": { "type": "string" } }
          }
        }
      },
      "PostSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "type": { "type": "string", "enum": ["Article", "Video", "Web Story", "Gallery", "LiveBlog", "CustomPage", "BlankPage"] },
          "banner_url": { "type": "string" },
          "short_description": { "type": "string" },
          "summary": { "type": "string" },
          "primary_category": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "slug": { "type": "string" } } },
          "categories": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "slug": { "type": "string" } } } },
          "tags": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "slug": { "type": "string" } } } },
          "contributors": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "slug": { "type": "string" } } } },
          "content_html": { "type": "string" },
          "meta_data": { "type": "object", "properties": { "access_type": { "type": "string" } } },
          "media_file_banner": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "filename": { "type": "string" },
              "path": { "type": "string" },
              "alt_text": { "type": "string" },
              "meta_data": { "type": "object", "properties": { "width": { "type": "integer" }, "height": { "type": "integer" } } }
            }
          },
          "word_count": { "type": "integer" },
          "access_type": { "type": "string" },
          "hide_banner_image": { "type": "boolean" },
          "banner_description": { "type": "string" },
          "language_code": { "type": "string" },
          "custom_entity": { "type": "object" },
          "absolute_url": { "type": "string" },
          "formatted_first_published_at_datetime": { "type": "string" },
          "formatted_last_published_at_datetime": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/publisher/{publisher_id}/": {
      "get": {
        "operationId": "getPublisherData",
        "summary": "Publisher Data",
        "description": "Returns site-wide publisher configuration (branding, colors, SEO defaults, social links).",
        "tags": ["Site Configuration"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/publisher-data" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Publisher configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "logo": { "type": "string" },
                        "favicon": { "type": "string" },
                        "primary_color": { "type": "string" },
                        "secondary_color": { "type": "string" },
                        "social_links": {
                          "type": "object",
                          "properties": {
                            "twitter": { "type": "string" },
                            "facebook": { "type": "string" },
                            "instagram": { "type": "string" }
                          }
                        },
                        "meta_title": { "type": "string" },
                        "meta_description": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/navbar/": {
      "get": {
        "operationId": "getNavbar",
        "summary": "Navbar",
        "description": "Returns the site's navigation menu tree.",
        "tags": ["Site Configuration"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/navbar" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Navigation menu tree",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "link": { "type": "string" },
                          "name": { "type": "string" },
                          "children": {
                            "type": ["array", "null"],
                            "items": { "type": "object" }
                          },
                          "open_new_tab": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/footer/": {
      "get": {
        "operationId": "getFooter",
        "summary": "Footer",
        "description": "Returns footer configuration (app links, social links, quick menu, copyright text).",
        "tags": ["Site Configuration"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/footer" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Footer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "logo": { "type": "string" },
                        "app_links": {
                          "type": "object",
                          "properties": {
                            "ios": { "type": "string" },
                            "android": { "type": "string" },
                            "web": { "type": "string" }
                          }
                        },
                        "short_bio": { "type": "string" },
                        "textColor": { "type": "string" },
                        "accentColor": { "type": "string" },
                        "newsletter": { "type": "boolean" },
                        "socialLinks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "platform": { "type": "string" },
                              "url": { "type": "string" }
                            }
                          }
                        },
                        "addQuickMenu": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": { "type": "string" },
                              "url": { "type": "string" }
                            }
                          }
                        },
                        "copyRightText": { "type": "string" },
                        "latestStories": { "type": "boolean" },
                        "addAffiliateWebsites": { "type": "array", "items": {} }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/active-slots/": {
      "get": {
        "operationId": "getActiveSlots",
        "summary": "Active Slots",
        "description": "Returns ad-slot / widget slot configuration currently active on the site.",
        "tags": ["Site Configuration"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/active-slots" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Active slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "name": { "type": "string" },
                          "data": {
                            "type": "object",
                            "properties": {
                              "size": { "type": "string" },
                              "html": { "type": "string" },
                              "contains_ads": { "type": "boolean" }
                            }
                          },
                          "registered_slot": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "integer" },
                              "name": { "type": "string" }
                            }
                          },
                          "formatted_update_on": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/newsletter-groups/": {
      "get": {
        "operationId": "getNewsletterGroups",
        "summary": "Newsletter Groups",
        "description": "Returns the newsletter subscription groups configured for this publisher.",
        "tags": ["Site Configuration"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/newsletter-groups" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Newsletter groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "name": { "type": "string" },
                          "logo_url": { "type": "string" },
                          "description": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/content-types/": {
      "get": {
        "operationId": "getContentTypes",
        "summary": "Content Types",
        "description": "Returns the custom content types configured for this publisher.",
        "tags": ["Site Configuration"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/content-types" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": {
            "description": "Content types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "api_slug": { "type": "string" },
                          "api_collections_slug": { "type": "string" },
                          "created_at": { "type": "string" },
                          "updated_at": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/identify_url/": {
      "get": {
        "operationId": "identifyContent",
        "summary": "Identify Content",
        "description": "Resolves an arbitrary legacy URL/slug to the content it represents (post, category, tag, author), a redirect, or not-found. Response shape varies by the resolved `data.type`.\n\n<Info>A beta variant of this endpoint is also available at `https://cds-beta.thepublive.com/publisher/{publisher_id}/identify_url/`.</Info>",
        "tags": ["Content"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/identify-content" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          {
            "name": "legacy_url",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "The path/slug to resolve. Format varies by content type: post legacy URL, category slug, `/tags/<SLUG>`, or `/author/<SLUG>`."
          }
        ],
        "responses": {
          "200": {
            "description": "Content resolved, redirect, or not found — see `data.type`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "description": "HTTP status code as a string, e.g. \"200\", \"301\", \"404\"" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": { "type": "string", "enum": ["post", "category", "tag", "member", "redirect", "not_found"] },
                        "url": { "type": "string" },
                        "status_code": { "type": "integer" },
                        "content": { "type": "object", "description": "Present only when type is \"post\": {id, title, slug, legacy_url, type, absolute_url, content_html}" }
                      }
                    }
                  }
                },
                "examples": {
                  "post": { "value": { "status": "200", "data": { "type": "post", "url": "/example-post/", "status_code": 200, "content": { "id": 1, "title": "Example Post", "slug": "example-post", "legacy_url": "/old/example-post", "type": "Article", "absolute_url": "https://example.thepublive.com/example-post/", "content_html": "<p>...</p>" } } } },
                  "redirect": { "value": { "status": "301", "data": { "type": "redirect", "url": "/new-location/", "status_code": 301 } } },
                  "not_found": { "value": { "status": "404", "data": { "type": "not_found", "url": "", "status_code": 404 } } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/categories/": {
      "get": {
        "operationId": "listCategoriesCDS",
        "summary": "Category Listing",
        "description": "Returns a paginated list of categories.",
        "tags": ["Content"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/category-listing" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated category list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "page_no": { "type": "integer" },
                    "per_page": { "type": "integer" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "name": { "type": "string" },
                          "slug": { "type": "string" },
                          "parent_category": {
                            "oneOf": [
                              { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "slug": { "type": "string" } } },
                              { "type": "null" }
                            ]
                          },
                          "category_brand_color": { "type": "string" },
                          "absolute_url": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/category/{identifier}/": {
      "get": {
        "operationId": "getCategoryDetails",
        "summary": "Category Details",
        "description": "Returns full details for a single category by ID or slug.",
        "tags": ["Content"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/category-details" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Identifier" }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer" },
                        "name": { "type": "string" },
                        "slug": { "type": "string" },
                        "content": { "type": "string" },
                        "category_brand_color": { "type": "string" },
                        "child_categories": {
                          "type": "array",
                          "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "slug": { "type": "string" } } }
                        },
                        "parent_category": { "type": "object" },
                        "meta_title": { "type": "string" },
                        "meta_description": { "type": "string" },
                        "og_title": { "type": "string" },
                        "og_description": { "type": "string" },
                        "og_image": { "type": "string" },
                        "twitter_title": { "type": "string" },
                        "twitter_description": { "type": "string" },
                        "twitter_image": { "type": "string" },
                        "absolute_url": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/tags/": {
      "get": {
        "operationId": "listTagsCDS",
        "summary": "Tag Listing",
        "description": "Returns a paginated list of tags.",
        "tags": ["Content"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/tag-listing" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated tag list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "page_no": { "type": "integer" },
                    "per_page": { "type": "integer" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "name": { "type": "string" },
                          "slug": { "type": "string" },
                          "absolute_url": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/tag/{identifier}/": {
      "get": {
        "operationId": "getTagDetails",
        "summary": "Tag Details",
        "description": "Returns full details for a single tag by ID or slug.",
        "tags": ["Content"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/tag-details" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Identifier" }
        ],
        "responses": {
          "200": {
            "description": "Tag details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer" },
                        "name": { "type": "string" },
                        "slug": { "type": "string" },
                        "display_name": { "type": "string" },
                        "meta_title": { "type": "string" },
                        "meta_description": { "type": "string" },
                        "og_title": { "type": "string" },
                        "og_description": { "type": "string" },
                        "og_image": { "type": "string" },
                        "twitter_title": { "type": "string" },
                        "twitter_description": { "type": "string" },
                        "twitter_image": { "type": "string" },
                        "absolute_url": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/authors/": {
      "get": {
        "operationId": "listAuthors",
        "summary": "Author Listing",
        "description": "Returns a paginated list of authors.",
        "tags": ["Content"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/author-listing" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated author list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "page_no": { "type": "integer" },
                    "per_page": { "type": "integer" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "name": { "type": "string" },
                          "slug": { "type": "string" },
                          "email": { "type": "string" },
                          "description": { "type": "string" },
                          "linkedin": { "type": "string" },
                          "twitter": { "type": "string" },
                          "instagram": { "type": "string" },
                          "facebook": { "type": "string" },
                          "avatar": { "type": "string" },
                          "created_at": { "type": "string" },
                          "updated_at": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/author/{identifier}/": {
      "get": {
        "operationId": "getAuthorDetails",
        "summary": "Author Details",
        "description": "Returns full details for a single author by ID or slug.",
        "tags": ["Content"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/author-details" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Identifier" }
        ],
        "responses": {
          "200": {
            "description": "Author details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer" },
                        "name": { "type": "string" },
                        "slug": { "type": "string" },
                        "email": { "type": "string" },
                        "description": { "type": "string" },
                        "linkedin": { "type": "string" },
                        "twitter": { "type": "string" },
                        "instagram": { "type": "string" },
                        "facebook": { "type": "string" },
                        "avatar": { "type": "string" },
                        "created_at": { "type": "string" },
                        "updated_at": { "type": "string" },
                        "meta_title": { "type": "string" },
                        "meta_description": { "type": "string" },
                        "og_title": { "type": "string" },
                        "og_description": { "type": "string" },
                        "og_image": { "type": "string" },
                        "twitter_title": { "type": "string" },
                        "twitter_description": { "type": "string" },
                        "twitter_image": { "type": "string" },
                        "absolute_url": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/posts/": {
      "get": {
        "operationId": "listPostsCDS",
        "summary": "Post Listing",
        "description": "Returns a paginated list of posts. Supports advanced filtering via `<field>__<operator>` query params (operators: `__eq`, `__neq`, `__contains`, `__in`, `__nin`, `__gte`, `__lte`, `__gt`, `__lt`; filterable fields: `title`, `type`, `categories.id`, `tags.id`, `contributors.id`, `primary_category.id`, `created_at`, `word_count`).\n\n<Info>Replaces the deprecated `/posts_by_category/`, `/posts_by_tag/`, `/posts_by_author/`, and `/search/` endpoints — see [Deprecated](/dxp/api-reference/deprecated/README).</Info>",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/post-listing" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated post list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "page_no": { "type": "integer" },
                    "per_page": { "type": "integer" },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/PostSummary" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/post/{identifier}/": {
      "get": {
        "operationId": "getPostDetails",
        "summary": "Post Details",
        "description": "Returns full details for a single post by ID or slug, including `content_json` block data not present on the listing endpoint.",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/post-details" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          { "$ref": "#/components/parameters/Identifier" }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "allOf": [
                        { "$ref": "#/components/schemas/PostSummary" },
                        { "type": "object", "properties": { "content_json": { "type": "array", "items": { "type": "object", "properties": { "type": { "type": "string" }, "data": { "type": "object", "properties": { "text": { "type": "string" } } } } } } } }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Post not found",
            "content": { "application/json": { "example": { "status": "error", "message": "Post not found" } } }
          }
        }
      }
    },
    "/publisher/{publisher_id}/post/": {
      "get": {
        "operationId": "getPostDetailsByUrl",
        "summary": "Post Details by URL",
        "description": "Resolves a post by its relative legacy URL. Returns the same post object as [Post Details](/dxp/api-reference/content-delivery/post-details).",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/post-details-by-url" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          {
            "name": "legacy_url",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Relative URL path of the post"
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" }, "data": { "$ref": "#/components/schemas/PostSummary" } } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Post not found",
            "content": { "application/json": { "example": { "status": "error", "message": "Post not found" } } }
          }
        }
      }
    },
    "/publisher/{publisher_id}/post/{post_id}/live-blog-updates/": {
      "get": {
        "operationId": "listLiveBlogUpdatesCDS",
        "summary": "Live Blog Updates",
        "description": "Returns a paginated list of live blog updates for a post.\n\n<Info>Only applies to posts with `type: \"LiveBlog\"`. For other post types, use Post Details.</Info>",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/live-blog-updates" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "Paginated live blog updates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" },
                    "page_no": { "type": "integer" },
                    "per_page": { "type": "integer" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "integer" },
                              "name": { "type": "string" },
                              "slug": { "type": "string" },
                              "description": { "type": "string" },
                              "avatar": { "type": "string" }
                            }
                          },
                          "created_at": { "type": "string" },
                          "updated_at": { "type": "string" },
                          "is_pinned": { "type": "boolean" },
                          "data": {
                            "type": "object",
                            "properties": { "title": { "type": "string" }, "content": { "type": "string" } }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Post not found",
            "content": { "application/json": { "example": { "status": "error", "message": "Post not found" } } }
          }
        }
      }
    },
    "/publisher/{publisher_id}/posts/analytics/trending/": {
      "get": {
        "operationId": "getTrendingPosts",
        "summary": "Trending posts",
        "description": "Returns posts ranked by trending analytics.\n\n<Warning>Requires the Publive analytics engine to be active on the site — returns an empty list if analytics tracking isn't implemented.</Warning>\n<Info>Trending ranking refreshes every 5 minutes, plus up to another 5 minutes of CDN caching (up to 10 minutes of lag).</Info>",
        "tags": ["Posts"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/trending-post" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["24h", "7d", "30d"], "default": "24h" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 50 }
          },
          { "$ref": "#/components/parameters/Page" },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["Article", "Video", "Web Story", "Gallery", "LiveBlog", "CustomPage", "CustomEntity", "Newsletter"] },
            "description": "Filters to a single post type. Omit to include all types."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending posts",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" }, "page_no": { "type": "integer" }, "per_page": { "type": "integer" }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/PostSummary" } } } }
              }
            }
          },
          "400": {
            "description": "Invalid `duration` value",
            "content": { "application/json": { "example": { "duration": ["\"invalid\" is not a valid choice."] } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publisher/{publisher_id}/form_schema/reader/{schema_id}/": {
      "get": {
        "operationId": "getFormSchemaCDS",
        "summary": "Form Schema",
        "description": "Returns a reader-facing form schema definition. Unlike other endpoints, the response has no `status`/`data` envelope — the schema object is returned directly.",
        "tags": ["Forms"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/form-schema" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          {
            "name": "schema_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "24-character hex Form Schema ID"
          },
          {
            "name": "page_source",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Used by the serializer if applicable"
          }
        ],
        "responses": {
          "200": {
            "description": "Form schema object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "type": { "type": "string" },
                    "settings": { "type": "object" },
                    "state": { "type": "string" },
                    "created_at": { "type": "string" },
                    "updated_at": { "type": "string" },
                    "deleted": { "type": "boolean" },
                    "updated_by": { "type": "string" },
                    "field_types": { "type": "array", "items": { "type": "object" } },
                    "groups": { "type": "array", "items": { "type": "object" } },
                    "form_page": { "type": "object" },
                    "captcha_config": { "type": "object", "properties": { "site_key": { "type": "string" } } }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid schema ID format",
            "content": { "application/json": { "example": { "detail": "Invalid Form Schema ID format - must be a 24-character hex string" } } }
          },
          "404": {
            "description": "Form schema not found or not accepting submissions",
            "content": { "application/json": { "example": { "detail": "Form Schema Doesn't exist or no longer taking submissions." } } }
          }
        }
      }
    },
    "/publisher/{publisher_id}/static/ads.txt/": {
      "get": {
        "operationId": "getAdsTxt",
        "summary": "ads.txt",
        "description": "Returns the publisher's ads.txt content.",
        "tags": ["Static Files"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/static-ads-txt" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "ads.txt content", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/static/robots.txt/": {
      "get": {
        "operationId": "getRobotsTxt",
        "summary": "robots.txt",
        "description": "Returns the publisher's robots.txt content.",
        "tags": ["Static Files"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/static-robots-txt" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "robots.txt content", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/static/service-worker.js/": {
      "get": {
        "operationId": "getServiceWorker",
        "summary": "service-worker.js",
        "description": "Returns the publisher's push-notification service worker JS source.\n\n<Warning>Returns 404 if push notifications aren't enabled for this publisher — check `publisher_config → widget_config_json → push_notification_config`.</Warning>",
        "tags": ["Static Files"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/static-service-worker" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "Service worker JS source", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Push notifications not enabled",
            "content": { "application/json": { "example": { "detail": "Push notifications are not enabled for this publisher" } } }
          }
        }
      }
    },
    "/publisher/{publisher_id}/static/{filename}/": {
      "get": {
        "operationId": "getPushNotificationHtml",
        "summary": "Push Notification HTML",
        "description": "Returns one of the push-notification helper HTML files.\n\n<Warning>Returns 404 if push notifications aren't enabled for this publisher.</Warning>\n<Info>Resolution checks a publisher-specific S3 override first, then falls back to the shared Publive CDN default — content can differ per publisher.</Info>",
        "tags": ["Static Files"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/static-push-notification-html" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["izooto.html", "helper-iframe.html", "permission-dialog.html"] }
          }
        ],
        "responses": {
          "200": { "description": "HTML content", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Push notifications not enabled",
            "content": { "application/json": { "example": { "detail": "Push notifications are not enabled for this publisher" } } }
          }
        }
      }
    },
    "/publisher/{publisher_id}/sitemap/allcontent-sitemap.xml/": {
      "get": {
        "operationId": "getAllContentSitemap",
        "summary": "All-content Sitemap",
        "description": "Returns the top-level sitemap index linking to the web content, news, category, and web story sitemaps.",
        "tags": ["Sitemaps"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/sitemap-allcontent" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "Sitemap index XML (as JSON string content)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/sitemap/webcontent-sitemap.xml/": {
      "get": {
        "operationId": "getWebContentSitemap",
        "summary": "Web Content Sitemap",
        "description": "Returns a sitemap index linking to paginated `sitemap_<date>.xml` entries.",
        "tags": ["Sitemaps"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/sitemap-webcontent" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "Sitemap index XML (as JSON string content)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/sitemap/news-sitemap.xml/": {
      "get": {
        "operationId": "getNewsSitemap",
        "summary": "News Sitemap",
        "description": "Returns a Google News-namespaced sitemap urlset.",
        "tags": ["Sitemaps"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/sitemap-news" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "News sitemap XML (as JSON string content)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/sitemap/category-sitemap.xml/": {
      "get": {
        "operationId": "getCategorySitemap",
        "summary": "Category Sitemap",
        "description": "Returns a standard sitemap urlset for category pages.",
        "tags": ["Sitemaps"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/sitemap-category" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "Category sitemap XML (as JSON string content)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/sitemap/webstory-sitemap.xml/": {
      "get": {
        "operationId": "getWebStorySitemap",
        "summary": "Web Story Sitemap",
        "description": "Returns a sitemap index linking to paginated `webstory_sitemap_<date>.xml` entries.",
        "tags": ["Sitemaps"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/sitemap-webstory" },
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "responses": {
          "200": { "description": "Sitemap index XML (as JSON string content)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/sitemap/sitemap_{date}.xml/": {
      "get": {
        "operationId": "getPaginatedArticleSitemap",
        "summary": "Paginated Sitemaps",
        "description": "Returns one dated page of the article/web-content sitemap. Valid `date` values are discoverable from the [Web Content Sitemap](/dxp/api-reference/content-delivery/sitemap-webcontent) index.",
        "tags": ["Sitemaps"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/sitemap-paginated" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Sitemap page date, e.g. \"2026-05-01\""
          }
        ],
        "responses": {
          "200": { "description": "Article sitemap page XML (as JSON string content)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/publisher/{publisher_id}/sitemap/webstory_sitemap_{date}.xml/": {
      "get": {
        "operationId": "getPaginatedWebStorySitemap",
        "summary": "Paginated Web Story Sitemap",
        "description": "Returns one dated page of the web story sitemap. Valid `date` values are discoverable from the [Web Story Sitemap](/dxp/api-reference/content-delivery/sitemap-webstory) index.\n\n<Note>This operation previously shared a single documentation page with the article sitemap variant above; it now has its own URL.</Note>",
        "tags": ["Sitemaps"],
        "x-mint": { "href": "/dxp/api-reference/content-delivery/sitemap-paginated-webstory" },
        "parameters": [
          { "$ref": "#/components/parameters/PublisherId" },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Sitemap page date, e.g. \"2026-05-01\""
          }
        ],
        "responses": {
          "200": { "description": "Web story sitemap page XML (as JSON string content)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaticContentEnvelope" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  }
}
