{
  "openapi": "3.1.0",
  "info": {
    "title": "Publive Media Library — Upload File",
    "version": "1.0.0",
    "description": "Companion spec for the Upload Media (File) documentation page. Documents the same real endpoint as openapi/media-register-url.json and the Media Library's other endpoints in openapi/content-management.json, scoped to just its multipart/form-data request variant so each documentation page shows only its own content type."
  },
  "servers": [
    { "url": "https://cms.thepublive.com" }
  ],
  "security": [{ "basicAuth": [] }],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using your Publive API key pair, base64-encoded."
      }
    },
    "parameters": {
      "PublisherId": {
        "name": "publisher_id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Your Publisher ID"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing credentials",
        "content": {
          "application/json": {
            "schema": { "type": "object", "properties": { "detail": { "type": "string" } } },
            "example": { "detail": "Invalid Auth Credentials" }
          }
        }
      }
    }
  },
  "paths": {
    "/publisher/{publisher_id}/media-library/": {
      "post": {
        "operationId": "uploadMediaFile",
        "summary": "Upload Media (File)",
        "description": "Uploads a file directly to the CMS media library.\n\n<Note>To register an existing external URL instead of uploading a file, see [Register Media (URL)](/dxp/api-reference/content-management/media/register-media-url).</Note>",
        "tags": ["Media Library"],
        "parameters": [{ "$ref": "#/components/parameters/PublisherId" }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": { "type": "string", "description": "Must include a file extension matching the file sent in `media`.", "example": "hero-image.jpg" },
                  "media": { "type": "string", "format": "binary", "description": "Immutable after creation. The file to upload." },
                  "alt_text": { "type": "string" },
                  "caption": { "type": "string" },
                  "source": { "type": "string" },
                  "type": { "type": "string", "enum": ["Image", "Video", "File"], "description": "Immutable after creation." },
                  "meta_data": { "type": "object" }
                },
                "required": ["filename", "media"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Created Successfully",
                  "data": { "id": 1000, "filename": "hero-image.jpg", "alt_text": "Hero banner image", "caption": "", "path": "https://cdn.publive.com/images/hero-image.jpg", "source": "Staff Photographer", "type": "Image", "meta_data": {}, "date": "2026-02-12", "member": "admin" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  }
}
